
@{
    ViewData["Title"] = "ReportPageNotFound";
}


<h1>Bu Sayfa Bulunamadı.Lütfen tekrar deneyiniz.</h1>


<form action="http://127.0.0.1">
    <button class="btn btn-success" type="submit">Raporlama Sayfasına Dön.</button>
</form>


